{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saniya black Box investigation</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
  </head>
  <body>
<h1>Black Box Investigation</h1>

<img src="{% static 'core/Saniya.JPG' %}" alt= "3D Original Model" Width="500">
<h3>Background</h3>
<p>The Mystery Black Box is a black trunk with a funnel at the top and a tuber in the front at the bottom. Our goals are finding out how it is setup in the inside and how come after each trial there is a different amount of water that comes out.
</p>

<h3>Claim</h3>
<p> My Black box could almost be a recreation of the Original Mystery Black Box With a couple updates and fixes.
</p>
<h2> My group data </h2>
<img src="{% static 'core/Saniyaa (2).JPG' %}" alt= "3D Original Model" Width="500">
<table>
<tr>
	<th>Trial</th>
        <th>Water Input (mL)</th>
	<th>Water Output (mL)</th>
</tr>
<tr>
	<td>1</td>
	<td>700</td>
	<td>520</td>
</tr>
<tr>
	<td>2</td>
	<td>800</td>
	<td>790</td>
</tr>
<tr>
	<td>3</td>
	<td>800</td>
	<td>780</td>
</tr>
<tr>
	<td>4</td>
	<td>800</td>
	<td>775</td>
</tr>
<tr>
	<td>5</td>
	<td>800</td>
	<td>800</td>
</tr>
<tr>
	<td>6</td>
	<td>800</td>
	<td>480</td>
</tr>

</table>



<h3>Evidence</h3>
<p> The Mystery Black Box is a black case with a funnel on top and tube in the front at the  bottom. Trying to figure out how the mystery black box  worked was doing trials with different inputs(water measurements) and seeing how much the output was. ( you can see in the table below)
Me and my team for our mystery black box was trying to figure out how to get our black box to work as close as mr sinusas’s box. The main idea you had to solve was figuring out if you pour in 700 ml of water into the black how come 500mL came out, then the second time if you pour in 1000 mL in the black box how come 800 mL came out?
</p>

<h3>Reasoning part 1</h3>
<p> Models are ideas/ examples to help you with something or to help you get an understanding. Models strengths are very useful with presentations and projects so people could have an understanding.
</p>

<h3>Reasoning part 2</h3>
<p>  People can believe our mystery black box is reliable and realistic to the others because our trials and model design almost match up and makes sense. If our build was more durable and better supplies when it was built i think we could’ve used ours as a model 2.0.
</p>

<h3>Reasoning part 3</h3>
<p>If our Black Box recreation were not alike or the same compared to the original then we would observed the build inside and look at the trials for how much water came out each time because that really matters. This means for my actual claim I would look at the same things the design build and how much water comes out during the trials.
</p>

<h3>Tables and figures</h3>
<h2> Mr Sinusas Table & Black Box</h2>
<img src="{% static 'core/Saniya2.JPG' %}" alt= "3D Original Model" Width="500">
<p>
	Mr Sinusas Black box is a black trunk designed to have students figure out how come when you poor 800mL of water in only 650mL come out. The more or less water you add or poor in the trunk and different amount of water/ output comes out. The studnets then build they own and try to figure out the trick or how it's built in the inside.
</p>
<table>
<tr>
	<th>Trial</th>
	<th>Water Input (mL)</th>
	<th>Water Output (mL)</th>
</tr>
<tr>
	<td>1</td>
	<td>1000</td>
	<td>0</td>
</tr>
<tr>
	<td>2</td>
	<td>1000</td>
	<td>712</td>
</tr>
<tr>
	<td>3</td>
	<td>800</td>
	<td>450</td>
</tr>
<tr>
	<td>4</td>
	<td>800</td>
	<td>630</td>
</tr>
<tr>
	<td>5</td>
	<td>800</td>
	<td>870</td>
</tr>
<tr>
	<td>6</td>
	<td>800</td>
	<td>890</td>
</tr>
<tr>
	<td>7</td>
	<td>1000</td>
	<td>530</td>
</tr>


</table>
<h3>3D/ AR summary<h3>
<img src="{% static 'core/Saniyarender.jpg' %}" alt= "3D Original Model" Width="500">
<p>
	During this Black box investigation we used a digital program called MAYA to make our black box virtually. With this app we learned how to use new tools, tricks and animations to make this as realistic as possible. Using the app times time and effort but is very benefical for life skills.</p>
<img src="QR.png" alt= "3D Original Model" Width="300">
<br>
<a href="https://adobeaero.app.link/oGVii4xn9Nb">Click for mystery black box</a>
<h3>Self Reflection</h3>

<p>
	Trying out this Black box experince was fun and overwhelming. Figuring out how to make another version of the original black box without knowing how it was built in the inside was also hard. Multiple design arrangements and trials trying to get it as close as possible made the team stronger putting our ideas together to make an model. Learning new tricks and tips with building, coding, etc makes me want to try this again with something else after all i learned.

<h3>21st Century Skills</h3>

<p>
	The 21st Cenury Skill I developed the most during the Black Box project was problem solving and critical thinking. Durinhg this project i faced issues with creating, editing and plenty more. Later on solved my problems and learned new things. It was fun to experience and learn new things.
  </body>
</html>

